
<ion-content [fullscreen]="true" color="light">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recettes</ion-title>
    </ion-toolbar>
    
  </ion-header>
  <!-- {{recipeList | json}} -->



  <ion-searchbar type="text" debounce="500" cancelButtonText="" showCancelButton="always" [(ngModel)]="valueSearched"
  (ionChange)="getRecipesDisplayed(valueSearched)">
</ion-searchbar>

  <ion-card *ngFor="let recipe of recipeList">
    <ion-card-header>
      <ion-thumbnail>
        <ion-img  src="../../assets/img/{{recipe.imageLink}}.png"></ion-img>
      </ion-thumbnail>
      

      <ion-card-title (click)="createRecipeModal(recipe)">{{recipe.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    <ion-icon name="bar-chart-outline"></ion-icon> {{recipe.difficulty}}/5   
    <ion-icon name="hourglass-outline"></ion-icon>{{recipe.preparationTime}}mn
    <ion-icon name="people-outline"></ion-icon>{{recipe.personsServed}}
    </ion-card-content>
  </ion-card>


</ion-content>