<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-searchbar  type="text" debounce="500" cancelButtonText="" showCancelButton="always" (ionChange)="getRecettesDisplayed($event)">
  </ion-searchbar>
<ion-list>
  <ion-item  *ngFor="let recette of recettesDisplayed">{{recette.intitule}}</ion-item>
</ion-list>
</ion-content>
