<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
test
  <div id="container">
    Bien ou bien?
  </div>
  
  <div>
    Bien ou bien?
  </div>
  <div>
    Bien ou bien?
  </div>
  <div>
    Bien ou bien?
  </div>
  <div>
    Bien ou bien?
  </div>
  <div>
    Bien ou bien?
  </div>
  <div>
    Bien ou bien?
  </div>
  <div>
    Bien ou bien?
  </div>
  <div>
    Bien ou bien?
  </div>
  <div>
    Bien ou bien?
  </div>
  <div>
    Bien ou bien?<br><br><br><br>
  </div>
  <div>
    Bien ou bien?<br><br><br><br>
  </div>
  <div>
    Bien ou bien?<br><br><br><br>
  </div>
  <div>
    Bien ou bien?<br><br><br><br>
  </div>
  <div>
    Bien ou bien?<br><br><br><br>
  </div>
  <div>
    Bien ou bien?<br><br><br><br>
  </div>
  <div>
    Bien ou bien?<br><br><br><br>
  </div>
  
</ion-content>
